blis==0.2.4
certifi==2020.12.5
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
click==7.1.2
cymem==2.0.5
dnspython==1.16.0
dnspython3==1.15.0
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1606683475274/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1602532379520/work
httptools @ file:///home/conda/feedstock_root/build_artifacts/httptools_1602325995818/work
idna==2.10
joblib==0.17.0
mathparse==0.1.2
murmurhash==1.0.5
nltk==3.5
numpy==1.19.4
packaging==20.7
Pint==0.16.1
plac==0.9.6
preshed==2.0.1
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1604309645255/work
pymongo==3.11.2
pyparsing==2.4.7
python-dateutil==2.7.5
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1603979006023/work
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.0
six==1.15.0
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.5
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1595508258730/work
thinc==7.0.8
tqdm==4.54.1
urllib3==1.26.2
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn_1606042630546/work
uvloop==0.14.0
wasabi==0.8.0
watchgod @ file:///home/conda/feedstock_root/build_artifacts/watchgod_1592453122359/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1602327018333/work
